@{
    ViewBag.Title = "All Products";
}
<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <div class="row">
            <h3 class="wthree_text_info">All <span>Products</span></h3>
            <div id="horizontalTab">
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">
                        @foreach (var item in @ViewBag.products)
                        {
                            <div class="col-md-3 product-men item">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <img src="../../images/@item.Image" alt="" class="pro-image-front" />
                                        <img src="../../images/@item.Image" alt="" class="pro-image-back" />
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html">@item.Title</a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price">$@item.Price</span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="item_id" value="@item.Id" />
                                            <input type="submit" name="submit" value="Add to cart" class="button add-cart" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
