@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

<div class="row">
    @foreach (var item in @ViewBag.products)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
            <div class="item" data-id="@item.Id">
                <div class="image">
                    <img src="../images/@item.Image" style="width: 200px; height:200px" />
                </div>
                <div class="span"></div>
                <div class="detail">
                    <h3>$@item.Price</h3>
                    <h4>@item.Title</h4>
                    <div class="starts"></div>
                    <a class="add-cart">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/catalog.js"></script>
}