@model ASF.Entities.Order

@{
    ViewBag.Title = "ThankYouPage";
}

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <img src="../../images/ok.png" style="width: 45%; position: relative; display: block; margin: 25px auto;" alt="ok" />
            <h2 style="margin-bottom: 20px;">Thanks for your purchase</h2>
            
        </div>  
        <div class="col-md-offset-5 col-md-4" style="margin-bottom: 25px;">
            <a href="/" class="btn btn-primary col-md-off-4">Go Home</a>
        </div>
    </div>
</div>
